html {
    box-sizing: border-box 
 }

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar content';
}


/* main sections*/
.sidebar {
    background-color: aqua;
}

.header {
    background-color: lightgray;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        'searchbar profile'
        'greeting sharing';
    box-sizing: border-box;
}

.content {
    background-color: white;
}

/* sidebar stuff*/
.branding {
    align-self: center;
}


.navigation {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: 50px;
}

.navigation div {
    padding-left: 5px;
}

/* header stuff*/
.searchbar{
    box-sizing: border-box;
}

.search{
    width: 400px;
    border: 3px solid #00B4CC;  
    height: 20px;
    border-radius: 5px 0 0 5px;
    color: #9DBFAF;
}

.profile{
    display: flex;  
}

.greeting{
    display: flex;
    flex-direction: column;
}

.sharing{
    display: flex;
}
